@{
    Layout = "_Layout";
}

<div class="signin-form-container">
    <div class="signin-form">
        <h1 class="form-title">Delete Account Confirmation</h1>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div id="delete-message" style="color: @(ViewBag.Message.Contains("Error") ? "red" : "green");">
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            <label>Are you sure you want to delete your account?</label>
        </div>
        <div class="form-group">
            <button id="delete-btn" class="submit-btn btn-danger">Delete</button>
        </div>
        <div id="delete-message"></div>
    </div>
</div>

<script>
       document.getElementById("delete-btn").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default button behavior

        fetch(`/Employer/DeleteEmployer`, {
            method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => {
            let messageContainer = document.getElementById("delete-message");
            messageContainer.innerHTML = `<p style="color: ${data.success ? 'green' : 'red'};">${data.message}</p>`;

            if (data.success) {
                setTimeout(() => { window.location.href = "/Home/Index"; }, 2000);
            }
        })
        .catch(error => console.error("Error:", error));
    });

</script>
