@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Welcome to Our Job Portal";
}

<div class="home-container">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the job portal for students. See all the co-op/internships that are available.
       Here are all the options this site offers:</p>
    <ul>
        <li><a href="/Home/JobListings">Browse job listings</a></li>
        <li>Upload your resume</li>
        <li>Contact the employers</li>
    </ul>
    <a href="/Home/AddJob" class="btn btn-primary">Add Job Posting</a>

</div>
<div class="homepage-image">
    <img src="/static/student_collab_main.jpg" alt="student_group_work" />
</div>