@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Welcome to Our Job Portal";
}

<div class="home-container">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the job portal for students. See all the co-op/internships that are available.
       Here are all the options this site offers:</p>
    <ul>
        <li>Browse job listings</li>
        <li>Upload your resume</li>
        <li>Contact the employers</li>
    </ul>
</div>
<div class="homepage-image">
    <img src="/static/student_collab_main.jpg" alt="student_group_work" />
</div>