@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Welcome to Our Job Portal";
}


<h1>@ViewData["Title"]</h1>
<p>This is a simple page rendering content without a model.</p>

<ul>
    <li>Browse job listings</li>
    <li>Post a new job</li>
    <li>Contact us</li>
</ul>
