@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Welcome to Our Job Portal";
}

<div class="home-container">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the job portal for students. See all the co-op/internships that are available.
       Here are all the options this site offers:</p>

    <ul>
        <li>Browse job listings</li>
        <li>Post a new job</li>
        <li>Contact us</li>
    </ul>
</div>