html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Removes default browser margins */
    padding: 0; /* Removes default browser padding */
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0; /* Optional: Removes default margin for a clean layout */
}

/* HEADER */
header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between; /* Distributes space between elements */
    align-items: center; /* Aligns items vertically in the center */
}

header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

.header-right {
    float: right; /* Or, better: use flexbox */
}
/* FOOTER */

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

footer {
    display: flex;
    justify-content: space-between; /* Distributes space between elements */
    align-items: center; /* Vertically centers the content */
    padding: 10px 20px; /* Adds some padding around the content */
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    overflow: hidden; /* Prevents overflow */
}

footer .footer-left {
    flex-grow: 1; /* This will push the copyright text to the center */
    text-align: center;
}

footer .footer-right {
    text-align: right; /* Align the contact us link to the right */
    flex-shrink: 0; /* Prevents this part from shrinking */
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
}

footer a:hover {
    background-color: #ddd;
    color: black;
}

/* HOMEPAGE */

.home-container {
    text-align:center;
    margin: 8px;
}

ul {
    list-style-type: none;
}

.homepage-image img {
    width: 100%;
    height: 900px;
}
/* SIGN IN PAGE */
.signin-form {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center contents vertically */
    align-items: center; /* Center contents horizontally */
    text-align: center; /* Align text in the center */
    border: solid 1px #ccc; /* Optional: define the border style */
    border-radius: 5px;
    padding: 20px; /* Optional: add padding inside the form */
    margin: auto; /* Center the container horizontally */
    margin-top: 50px;
    width: 300px; /* Define a fixed width for the form */
    height: auto; /* Automatically adjust height */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

input {
    margin: 10px;
}