@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Welcome to Our Job Portal";
}

<div>
    <h1>Sign In</h1>
    <form action="/" method="post">
        <input type="text" name="name" value="" placeholder="first name" />
        <input type="text" name="name" value="" placeholder="last name"/>
        <input type="text" name="name" value="" placeholder="email"/>
        <input type="date" name="name" value="" />
        <input type="text" name="name" value="" placeholder="address"/>
        <input type="text" name="name" value="" placeholder="city"/>
        <input type="text" name="name" value="" placeholder="country"/>
        <select name="post-secondary" id="cars">
            <option value="conestoga">Conestoga College</option>
            <option value="waterloo university">University of Waterloo</option>
            <option value="laurier">Laurier University</option>
            <option value="guelph university">University of Guelph</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
