@{
    Layout = "_Layout";
}

<div class="signin-form">
    <h1>Sign In</h1>
    <form action="/" method="post">
        <input type="text" name="name" value="" placeholder="first name" /><br />
        <input type="text" name="name" value="" placeholder="last name" /><br />
        <input type="text" name="name" value="" placeholder="email" /><br />
        <input type="date" name="name" value="" /><br />
        <input type="text" name="name" value="" placeholder="address" /><br />
        <input type="text" name="name" value="" placeholder="city" /><br />
        <input type="text" name="name" value="" placeholder="country" /><br />
        <select name="post-secondary" id="cars">
            <option value="conestoga">Conestoga College</option>
            <option value="waterloo university">University of Waterloo</option>
            <option value="laurier">Laurier University</option>
            <option value="guelph university">University of Guelph</option>
        </select><br />
        <input type="submit" value="Submit">
    </form>
</div>
